.timeline-wrapper{
    width: 100%;
    height: 400px;
    padding: 0% 5%;
    overflow: auto;
}

.entrie-wrapper{
    padding: 0px 0px 0px 30px;
    font-size: 13px;
}

.inp{
    margin-bottom: 15px;
}

.item-label{
    color: rgb(134, 130, 130);
    padding-top: 8px
}

.input-item{
    width: 100%;

}