<div class="contains">
    <!-- <div class="row control-block"> -->
    <div class=" control-block">
        <!-- <span  class="col-md-7 offset-md-4 lableHome"> -->
        <div class="lableHome">
            THEO DÕI ĐỀ NGHỊ CÁC KHOA
        </div>
    </div>
    <button *ngIf="isAdmin" class="btn btn-primary btn-sm buttonCreate" (click)="OpenCreateProposalModal()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Tạo đề nghị
    </button>


      
    <div class="row content-block table-responsive">
        <!-- <input type="checkbox" (click)="toggleView($event)"> -->
        <!-- <div class="conatiner" style="padding-top:20px;">  
            <div class="col-sm-5" style="padding-top:20px;padding-bottom:20px;" >  
                 <input class="form-control" type="text" placeholder="Search......." [(ngModel)]="filter" (ngModelChange)="Search()">        
            </div>  
          </div>   -->

          
        <table id="example"  
            class="row-border cell-border hover table ">
            <thead>
                <tr>
                    <!-- <th>Registerd By</th> -->
                    <th class="contenttr" (click)="sort('id')">TT<i class="fa fa-sort"></i></th>
                    <th class="contenttr">Khoa</th>
                    <th class="contenttr proposal-update-th" (click)="sort('startDate')">Ngày đề nghị <i class="fa fa-sort"></i></th>
                    <th class="contenttr proposal-content-th" (click)="sort('contentProposal')">Nội dung đề nghị <i class="fa fa-sort"></i></th>
                    <!-- <th>Ngày kết thúc</th>
                    <th>Deadline</th> -->
                    <th class="contenttr" (click)="sort('userExtra.equiqmentGroup.nameGroup')">Tổ <i class="fa fa-sort"></i></th>
                    <th class="contenttr proposal-person-th" (click)="sort('userExtra.user.firstName')">Người thực hiện <i class="fa fa-sort"></i></th>
                    <!-- <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th> -->
                    <th class="contenttr proposal-progress-th">Tiến trình hiện tại</th>
                    <th class="contenttr proposal-update-th" (click)="sort('endDate')">Ngày cập nhật <i class="fa fa-sort"></i></th>
                    <th class="contenttr proposal-note-th">Ghi chú</th>
                    <th class="contenttr" >Ngày tồn</th>
                    <th class="contenttr">Ngày thêm</th>
                    <th class="contenttr"  (click)="sort('status')">Tình trạng <i class="fa fa-sort"></i></th>
                    <th class="contenttr" style="text-align: center;">Thao tác</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let proposal of proposals| paginate : {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: count}, let i = index"  [class.active]="i == currentIndex"
                    (click)="setActiveTutorial(proposal, i)">
                    <!-- <td [ngClass]="{'proposal-false': proposal.status !== true, 'proposal-true' : proposal.status == true, 'proposal-new': proposal.currentProgressName == 'Tạo mới' }"> Admin</td> -->
                    <td
                        [ngClass]="{'proposal-false': proposal.status !== 'Hoàn thành', 'proposal-true' : proposal.status == 'Hoàn thành', 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">
                        {{proposal.id}}</td>
                    <td
                        [ngClass]="{'proposal-false': proposal.status !== 'Hoàn thành', 'proposal-true' : proposal.status == 'Hoàn thành', 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">
                        {{proposal.hospitalDepartment}}</td>
                    <td
                        [ngClass]="{'proposal-false': proposal.status !== 'Hoàn thành', 'proposal-true' : proposal.status == 'Hoàn thành', 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">
                        {{proposal.startDate}}</td>
                    <td class="custom-cell"
                        [ngClass]="{'proposal-false': proposal.status !== 'Hoàn thành', 'proposal-true' : proposal.status == 'Hoàn thành', 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">
                        {{proposal.contentProposal}}</td>
                    <!-- <td  [ngClass]="{'proposal-false': proposal.status !== true, 'proposal-true' : proposal.status == true, 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">{{proposal.endDate}}</td>
                    <td  [ngClass]="{'proposal-false': proposal.status !== true, 'proposal-true' : proposal.status == true, 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">{{proposal.deadLine}}</td> -->
                    <td
                        [ngClass]="{'proposal-false': proposal.status !== 'Hoàn thành', 'proposal-true' : proposal.status == 'Hoàn thành', 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">
                        {{proposal.Group}}</td>
                    <td
                        [ngClass]="{'proposal-false': proposal.status !== 'Hoàn thành', 'proposal-true' : proposal.status == 'Hoàn thành', 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">
                        {{proposal.asignee}}</td>
                    <!-- <td class="custom-cell"  [ngClass]="{'proposal-false': proposal.status !== true, 'proposal-true' : proposal.status == true, 'proposal-new': proposal.currentProgressName == 'Tạo mới' }" >{{proposal.note}}</td> -->
                    <td id="notee"
                        [ngClass]="{'proposal-false': proposal.status !== 'Hoàn thành', 'proposal-true' : proposal.status == 'Hoàn thành', 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">
                        <span class="stage-title">{{proposal.currentProgressName}}</span>
                        <div
                            [ngClass]="{'progress-bar-false': proposal.status !== 'Hoàn thành', 'progress-bar-true' : proposal.status == 'Hoàn thành' }">
                            <div [ngClass]="{'progress-bar-inner-false': proposal.status !== 'Hoàn thành', 'progress-bar-inner-true' : proposal.status == 'Hoàn thành' }"
                                [style.width]="getProgressBarWidth(proposal.currentProgressName) + '%'"></div>
                        </div>
                    </td>
                    <td
                        [ngClass]="{'proposal-false': proposal.status !== 'Hoàn thành', 'proposal-true' : proposal.status == 'Hoàn thành', 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">
                        {{proposal.endDate}}</td>
                    <td class="custom-cell-note"
                        [ngClass]="{'proposal-false': proposal.status !== 'Hoàn thành', 'proposal-true' : proposal.status == 'Hoàn thành', 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">
                        {{proposal.note}}</td>
                    <td
                        [ngClass]="{'proposal-false': proposal.status !== 'Hoàn thành', 'proposal-true' : proposal.status == 'Hoàn thành', 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">
                        {{proposal.remainingDate}}</td>
                    <td
                        [ngClass]="{'proposal-false': proposal.status !== 'Hoàn thành', 'proposal-true' : proposal.status == 'Hoàn thành', 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">
                        {{proposal.additionalDate}}</td>
                    <!-- <td  [ngClass]="{'proposal-false': proposal.status !== true, 'proposal-true' : proposal.status == true, 'proposal-new': proposal.currentProgressName == 'Tạo mới' }" >{{proposal.status}}</td> -->
                    <td
                        [ngClass]="{'proposal-false': proposal.status !== 'Hoàn thành', 'proposal-true' : proposal.status == 'Hoàn thành', 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">
                        {{proposal.status}}</td>
                    <td
                        [ngClass]="{'proposal-false': proposal.status !== 'Hoàn thành', 'proposal-true' : proposal.status == 'Hoàn thành', 'proposal-new': proposal.currentProgressName == 'Tạo mới' }">
                        <div class="table-actions">
                            <button
                                *ngIf="(!isAdmin || proposal.asigneeId == 3|| proposal.asigneeId == 1001|| proposal.asigneeId == 1151|| proposal.asigneeId == 1152)"
                                class="btn btn-warning btn-sm btn-custom" ngbTooltip="Cập nhật"
                                (click)="OpenUpdateProgressModal(proposal)">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-info btn-sm btn-custom" (click)="OpenViewProgressModal(proposal)"
                                ngbTooltip="Xem">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="isAdmin" class="btn btn-primary btn-sm btn-custom"
                                (click)="openExtendProposalModal(proposal)" ngbTooltip="Sửa">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="isAdmin" class="btn btn-danger btn-sm btn-custom"
                                (click)="openDeleteProposalModal(proposal)" ngbTooltip="Xóa">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Code by pagination -->
    <!-- <div class="container mw-100">
        <div class="row">
            <div class="col-md-3"></div>
            <div *ngIf="companies !=0" class="col-md-6">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a (click)="showPrevCompanies()"
                            [ngClass]="(paginationService.showNoOfCurrentPage ==1)?'notAllowed':'page-link'"
                            style="margin-top: 5px; margin-right: 20px;cursor: pointer;">Prev</a>
                    </li>
                    <li *ngFor="let page of pageField;let i=index" class="page-item">
                        <a (click)="showCompaniesByPageNumber(page,i)"
                            [ngClass]="pageNumber[i] ? 'pageColor':'page-link'"
                            style=" margin-right: 5px;;margin-top: 5px;cursor: pointer;">{{page}}</a>
                    </li>
                    <li class="page-item">
                        <a (click)="showNextCompanies()"
                            [ngClass]="(paginationService.disabledNextBtn)?'notAllowed':'page-link'"
                            style="margin-top: 5px;margin-left: 20px; cursor: pointer;">Next</a>
                    </li>
                </ul>
                <div style="text-align: center;">
                    Page {{currentPage}} of Total page {{paginationService.exactPageList}}
                </div>
            </div>
        </div>
    </div> -->

    <div class="pagination" style="font-size: 14px">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          responsive="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
      
      <div class="mt-3" style="font-size: 13px">
        Số đề nghị hiển thị 1 trang
        <select (change)="handlePageSizeChange($event)">
          <option *ngFor="let size of pageSizes" [ngValue]="size">
            {{size}}
          </option>
        </select>
      </div>
    
</div>

<footer>
    <small>Copyright ©2020. Phòng Khoa Học Quân Sự. Bệnh Viện Trung Ương Quân Đội 108</small>
</footer>