.contains{
    padding: 20px;
}

.control-block{
    width: 100%;
    // display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #b30000;
    margin: unset;
}

.content-block{
    width: 100%;
    /* height: calc(100vh - 200px); */
    padding: 15px 25px;
    border: 1px solid #C0C0C0;
    border-radius: 7px;
    background-color: #F8F8F8;
    margin: 20px 0px;
    box-shadow: 7px 7px #fcfcfc;
    /* overflow: auto; */
}

.custom-cell{
    // word-break: break-all;
    white-space: normal;
    width: 300px;
}

.custom-cell-note{
    // word-break: break-all;
    white-space: normal;
    width: 182px;
}

.proposal-content-th{
    width: 300px;
}

.proposal-note-th{
    width: 182px;
}

.proposal-content-cell{
    width: 200px !important;
    word-break: break-all;
}

.table-actions{
    display: flex;
    justify-content: start;
    // justify-content: space-between;
    
}

.btn-custom{
    margin-right: 3px;
}

.lableHome{
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}

.buttonCreate{
    margin: 1% 0;
    float: right;
}

/* table css */

.dataTables_wrapper {
    width: 100% !important;

}

.stage-title{

}

.progress-bar{
    width: 100%;
    height: 5px;
    background-color: pink;
}

.progress-bar-true{
    width: 100%;
    height: 5px;
    background-color: pink;
}

.progress-bar-false{
    width: 100%;
    height: 5px;
    background-color: #DFF5FF;
}

.progress-bar-inner{
    width: 30%;
    height: 100%;
    background-color: rgb(243, 7, 46);
}

.progress-bar-inner-true{
    width: 30%;
    height: 100%;
    background-color: #14E300;
}

.progress-bar-inner-false{
    width: 30%;
    height: 100%;
    background-color: #004C99;
}
