<div class="contains">
    <div class="row control-block">
        <span>
            All Proposals
        </span>

        <button *ngIf="isAdmin" class="btn btn-outline-primary btn-sm" (click)="OpenCreateProposalModal()">Create</button>
    </div>
    <div class="row content-block table-responsive text-nowrap">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table ">
            <thead>
                <tr>
                    <th>Registerd By</th>
                    <th>Note</th>
                    <th>Content</th>
                    <th>Group</th>
                    <th>Team</th>
                    <th>Asignee</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Remaining Date</th>
                    <th>Extra Day</th>
                    <th>Dateline</th>
                    <th>Status</th>
                    <th>Current Stage</th>
                    <th style="text-align: center;">Action</th>
                </tr>
                
            </thead>
            <tbody>
                <tr *ngFor="let proposal of proposals, index as i">
                    <td>{{proposal.registerBy}}</td>
                    <td>{{proposal.note}}</td>
                    <td>{{proposal.contentProposal}}</td>
                    <td>{{proposal.hospitalDepartment}}</td>
                    <td>{{proposal.Group}}</td>
                    <td>Asignee</td>
                    <td>{{proposal.startDate}}</td>
                    <td>{{proposal.endDate}}</td>
                    <td>remaining date</td>
                    <td>extra day</td>
                    <td>dateline</td>
                    <td>status</td>
                    <td>{{proposal.currentProgressName}}</td>
                    <td>
                        <div class="table-actions">
                            <button *ngIf="isUser" class="btn btn-outline-primary btn-sm" (click)="OpenUpdateProgressModal(proposal)">Update</button> &nbsp;
                            <button class="btn btn-outline-primary btn-sm" (click)="OpenViewProgressModal(proposal)">View</button> &nbsp;
                            <button *ngIf="isAdmin" class="btn btn-outline-primary btn-sm" (click)="openExtendProposalModal(proposal)" > Edit</button> &nbsp;
                            <button *ngIf="isAdmin" class="btn btn-outline-danger btn-sm" (click)="openDeleteProposalModal(proposal)" > Delete</button> &nbsp;
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>